$button-default-background-color-focus: rgba(247,247,247,1);
$button-default-background-color-over: rgba(247,247,247,1);
$button-default-background-color-pressed: rgba(224,224,225,1);
$base-gradient: "matte";
$button-default-background-gradient: $base-gradient;
$button-default-background-gradient-disabled: $base-gradient;
$button-default-background-gradient-focus: $base-gradient;
$button-default-background-gradient-over: $base-gradient;
$button-default-background-gradient-pressed: flat;
$button-default-base-color-focus: rgba(234,234,234,1);
$button-default-base-color-over: rgba(237,238,238,1);
$button-default-base-color-pressed: rgba(200,204,208,1);
$button-default-border-color-focus: rgba(182,185,189,1);
$button-default-border-color-over: rgba(182,185,189,1);
$button-default-border-color-pressed: rgba(182,185,189,1);
$button-large-padding: 6px;
$button-large-text-padding: 6px;
$button-medium-padding: 5px;
$button-medium-text-padding: 5px;
$button-small-font-size: 12px;
$button-small-font-weight: 500;
$button-small-padding: 4px;
$button-toolbar-background-color-focus: $button-default-background-color-focus;
$button-toolbar-background-color-over: $button-default-background-color-over;
$button-toolbar-background-color-pressed: $button-default-background-color-pressed;
$button-toolbar-background-gradient-focus: matte;
$button-toolbar-background-gradient-over: matte;
$button-toolbar-background-gradient-pressed: flat;
$button-toolbar-border-color-focus: $button-default-border-color-focus;
$button-toolbar-border-color-over: $button-default-border-color-over;
$button-toolbar-border-color-pressed: $button-default-border-color-pressed;
$font-family: 'Roboto', sans-serif, tahoma, arial, verdana, sans-serif;
$font-size: 14px;
$btn-group-border-width: 0px;
$base-color: #c0d4ed;
$btn-group-framed-background-color: adjust-color($base-color, $hue: -2deg, $saturation: 5%, $lightness: 1%);
$btn-group-framed-border-radius: 0px;
$btn-group-header-line-height: 28px;
$btn-group-header-margin: 2px 2px 6px 2px;
$btn-group-inner-border-color: transparent;
$form-field-border-color: #e0e0e0;
$form-field-focus-border-color: #679fff;
$fieldset-header-color: rgba(21,66,139,1);
$fieldset-header-font-size: $font-size * 1.1;
$fieldset-header-line-height: 16px;
$fieldset-margin: 10px 0;
$fieldset-padding: 4px 0px;
$form-label-font-size: 13px;
$grid-column-header-color: #616161;
$grid-column-header-font-size: ceil($font-size * 0.84);
$grid-column-header-font-weight: bold;
$grid-header-background-color: #F5F5F5;
$grid-header-background-gradient: "none";
$grid-header-border-color: #ddd;
$grid-header-over-background-color: #F5F5F5;
$grid-header-over-background-gradient: "none";
$grid-header-padding: 6px;
$grid-header-trigger-background-color-open: #eee;
$accordion-header-padding: 8px 16px;
$menu-background-color: rgba(255,255,255,1);
$menu-border-style: none;
$menu-border-width: 0px;
$grid-row-cell-over-background-color: #EEEEEE;
$menu-item-active-background-color: $grid-row-cell-over-background-color;
$grid-row-cell-selected-background-color: #E0E0E0;
$grid-row-cell-over-border-color: $grid-row-cell-selected-background-color;
$menu-item-active-border-color: $grid-row-cell-over-border-color;
$menu-item-active-border-radius: 0px;
$menu-item-background-gradient: none;
$menu-item-border-width: 0px;
$menu-item-height: 36px;
$menu-item-icon-horizontal-spacing: 10px;
$menu-item-text-horizontal-spacing: 12px;
$menu-padding: 0px;
$menu-scroller-height: 12px;
$menu-separator-size: 1px;
$panel-header-background-gradient: $base-gradient;
$panel-header-padding: 9px 10px 8px;
$grid-cell-inner-padding: 5px;
$grid-cell-selected-background-color: $grid-row-cell-selected-background-color;
$grid-cell-special-background-color: transparent;
$grid-cell-special-background-gradient: "none";
$grid-cell-special-border-width: 0px;
$grid-cell-special-over-background-color: $grid-row-cell-over-background-color;
$grid-row-cell-focus-background-color: $grid-row-cell-selected-background-color;
$grid-row-cell-focus-border-color: $grid-row-cell-selected-background-color;
$grid-row-cell-font-size: ceil($font-size * 0.9);
$grid-row-cell-line-height: round($grid-row-cell-font-size * 2);
$grid-row-cell-selected-border-color: $grid-row-cell-selected-background-color;
$grid-row-cell-selected-border-style: solid;
$tabbar-background-gradient: flat;
$tabbar-strip-border-width: 0px;
$tabbar-strip-height: 0px;
$tab-background-gradient: "none";
$tab-background-gradient-disabled: "none";
$tab-border-radius: 0px;
$tab-line-height: 16px;
$tab-padding: 8px 16px 7px;
$toolbar-background-gradient: "none";
$toolbar-horizontal-spacing: 4px;
$toolbar-vertical-spacing: 4px;
$boundlist-item-height: 28px;
$boundlist-item-over-background-color: $grid-row-cell-over-background-color;
$boundlist-item-over-border-color: $grid-row-cell-over-background-color;
$boundlist-item-selected-background-color: $grid-row-cell-selected-background-color;
$boundlist-item-selected-border-color: $grid-row-cell-selected-border-color;