/* ui mixin: alternative-toolbar-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_color: #212121;
  @include extjs-button-ui(
    $ui:"alternative-toolbar-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: transparent,
    $background-color-disabled: transparent,
    $background-color-focus: #BDBDBD,
    $background-color-over: #BDBDBD,
    $background-color-pressed: #9E9E9E,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: transparent,
    $border-color-disabled: transparent,
    $border-color-focus: #BDBDBD,
    $border-color-over: #BDBDBD,
    $border-color-pressed: #9E9E9E,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $_arch_color,
    $color-disabled: $_arch_color,
    $color-focus: $_arch_color ,
    $color-over: $_arch_color ,
    $color-pressed: $_arch_color ,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $_arch_color ,
    $glyph-opacity: $button-toolbar-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: $button-toolbar-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled,
    $opacity-disabled: $button-toolbar-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: alternative-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  
  @include extjs-button-ui(
    $ui:"alternative-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: #E0E0E0,
    $background-color-disabled: #E0E0E0,
    $background-color-focus: #BDBDBD,
    $background-color-over: #BDBDBD,
    $background-color-pressed: #9E9E9E,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: #E0E0E0,
    $border-color-disabled: #E0E0E0,
    $border-color-focus: #BDBDBD,
    $border-color-over: #BDBDBD,
    $border-color-pressed: #9E9E9E,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $button-default-color,
    $color-disabled: $button-default-color-disabled,
    $color-focus: $button-default-color-focus,
    $color-over: $button-default-color-over,
    $color-pressed: $button-default-color-pressed,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: info-toolbar-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: transparent;
$_arch_background-color-disabled: transparent;
$_arch_background-color-focus: #E8F5E9;
$_arch_background-color-over: #E8F5E9;
$_arch_background-color-pressed: #C8E6C9;
$_arch_color: #388E3C;
  @include extjs-button-ui(
    $ui:"info-toolbar-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: $_arch_background-color,
    $background-color-disabled: $_arch_background-color-disabled,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: $_arch_background-color,
    $border-color-disabled: $_arch_background-color-disabled,
    $border-color-focus: $_arch_background-color-focus,
    $border-color-over: $_arch_background-color-over,
    $border-color-pressed: $_arch_background-color-pressed,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $_arch_color,
    $color-disabled: $_arch_color ,
    $color-focus: $_arch_color ,
    $color-over: $_arch_color ,
    $color-pressed: $_arch_color ,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $_arch_color ,
    $glyph-opacity: $button-toolbar-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: $button-toolbar-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled,
    $opacity-disabled: $button-toolbar-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: primary-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: #2196F3;
$_arch_background-color-disabled: #2196F3;
$_arch_background-color-focus: #1E88E5;
$_arch_background-color-over: #1E88E5;
$_arch_background-color-pressed: #1565C0;
$_arch_color: #fff;
  @include extjs-button-ui(
    $ui:"primary-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: $_arch_background-color,
    $background-color-disabled: $_arch_background-color-disabled,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: $_arch_background-color ,
    $border-color-disabled: $_arch_background-color-disabled,
    $border-color-focus: $_arch_background-color-focus,
    $border-color-over: $_arch_background-color-over,
    $border-color-pressed: $_arch_background-color-pressed,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $_arch_color,
    $color-disabled: $_arch_color,
    $color-focus: $_arch_color ,
    $color-over: $_arch_color ,
    $color-pressed: $_arch_color ,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $_arch_color ,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: danger-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  
  @include extjs-button-ui(
    $ui:"danger-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: #F44336,
    $background-color-disabled: #F44336,
    $background-color-focus: #E53935,
    $background-color-over: #E53935,
    $background-color-pressed: #C62828,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: #F44336,
    $border-color-disabled: #F44336,
    $border-color-focus: #E53935,
    $border-color-over: #E53935,
    $border-color-pressed: #C62828,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: #fff,
    $color-disabled: #fff,
    $color-focus: #fff,
    $color-over: #fff,
    $color-pressed: #fff,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: #fff,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: warning-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  
  @include extjs-button-ui(
    $ui:"warning-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: #FFC107,
    $background-color-disabled: #FFC107,
    $background-color-focus: #FFB300,
    $background-color-over: #FFB300,
    $background-color-pressed: #FFA000,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: #FFC107,
    $border-color-disabled: #FFC107,
    $border-color-focus: #FFB300,
    $border-color-over: #FFB300,
    $border-color-pressed: #FFA000,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: #fff,
    $color-disabled: #fff,
    $color-focus: #fff,
    $color-over: #fff,
    $color-pressed: #fff,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: #fff,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: info-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  
  @include extjs-button-ui(
    $ui:"info-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: #4CAF50,
    $background-color-disabled: #4CAF50,
    $background-color-focus: #43A047,
    $background-color-over: #43A047,
    $background-color-pressed: #2E7D32,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: #4CAF50,
    $border-color-disabled: #4CAF50,
    $border-color-focus: #43A047,
    $border-color-over: #43A047,
    $border-color-pressed: #2E7D32,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: #fff,
    $color-disabled: #fff,
    $color-focus: #fff,
    $color-over: #fff,
    $color-pressed: #fff,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: warning-toolbar-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: transparent;
$_arch_background-color-disabled: transparent;
$_arch_background-color-focus: #FFF3E0;
$_arch_background-color-over: #FFF3E0;
$_arch_background-color-pressed: #FFE0B2;
$_arch_color: #FFA000;
  @include extjs-button-ui(
    $ui:"warning-toolbar-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: $_arch_background-color,
    $background-color-disabled: $_arch_background-color-disabled,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: $button-toolbar-background-gradient,
    $background-gradient-disabled: $button-toolbar-background-gradient-disabled,
    $background-gradient-focus: $button-toolbar-background-gradient-focus,
    $background-gradient-over: $button-toolbar-background-gradient-over,
    $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
    $border-color: $_arch_background-color,
    $border-color-disabled: $_arch_background-color-disabled,
    $border-color-focus: $_arch_background-color-focus,
    $border-color-over: $_arch_background-color-over,
    $border-color-pressed: $_arch_background-color-pressed,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $_arch_color,
    $color-disabled: $_arch_color ,
    $color-focus: $_arch_color ,
    $color-over: $_arch_color ,
    $color-pressed: $_arch_color ,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $_arch_color ,
    $glyph-opacity: $button-toolbar-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: $button-toolbar-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled,
    $opacity-disabled: $button-toolbar-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: danger-toolbar-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: transparent;
$_arch_background-color-disabled: transparent;
$_arch_background-color-focus: #FFEBEE;
$_arch_background-color-over: #FFEBEE;
$_arch_background-color-pressed: #FFCDD2;
$_arch_color: #D32F2F;
  @include extjs-button-ui(
    $ui:"danger-toolbar-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: $_arch_background-color,
    $background-color-disabled: $_arch_background-color-disabled,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: $button-toolbar-background-gradient,
    $background-gradient-disabled: $button-toolbar-background-gradient-disabled,
    $background-gradient-focus: $button-toolbar-background-gradient-focus,
    $background-gradient-over: $button-toolbar-background-gradient-over,
    $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
    $border-color: $_arch_background-color,
    $border-color-disabled: $_arch_background-color-disabled,
    $border-color-focus: $_arch_background-color-focus,
    $border-color-over: $_arch_background-color-over,
    $border-color-pressed: $_arch_background-color-pressed,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $_arch_color,
    $color-disabled: $_arch_color ,
    $color-focus: $_arch_color ,
    $color-over: $_arch_color ,
    $color-pressed: $_arch_color ,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $_arch_color ,
    $glyph-opacity: $button-toolbar-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: $button-toolbar-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled,
    $opacity-disabled: $button-toolbar-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: primary-toolbar-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: transparent;
$_arch_background-color-disabled: transparent;
$_arch_background-color-focus: #E3F2FD;
$_arch_background-color-over: #E3F2FD;
$_arch_background-color-pressed: #BBDEFB;
$_arch_color: #1976D2;
  @include extjs-button-ui(
    $ui:"primary-toolbar-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: $_arch_background-color,
    $background-color-disabled: $_arch_background-color-disabled,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: $button-toolbar-background-gradient,
    $background-gradient-disabled: $button-toolbar-background-gradient-disabled,
    $background-gradient-focus: $button-toolbar-background-gradient-focus,
    $background-gradient-over: $button-toolbar-background-gradient-over,
    $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
    $border-color: $_arch_background-color,
    $border-color-disabled: $_arch_background-color-disabled,
    $border-color-focus: $_arch_background-color-focus,
    $border-color-over: $_arch_background-color-over,
    $border-color-pressed: $_arch_background-color-pressed,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $_arch_color,
    $color-disabled: $_arch_color ,
    $color-focus: $_arch_color ,
    $color-over: $_arch_color ,
    $color-pressed: $_arch_color ,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $_arch_color ,
    $glyph-opacity: $button-toolbar-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: $button-toolbar-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled,
    $opacity-disabled: $button-toolbar-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: inverse-toolbar-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color-focus: rgba(66,66,66,0.3);
$_arch_background-color-over: rgba(66,66,66,0.3);
$_arch_background-color-pressed: rgba(66,66,66,0.5);
$_arch_color: #FFF;
  @include extjs-button-ui(
    $ui:"inverse-toolbar-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: transparent,
    $background-color-disabled: transparent,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: $button-toolbar-background-gradient,
    $background-gradient-disabled: $button-toolbar-background-gradient-disabled,
    $background-gradient-focus: $button-toolbar-background-gradient-focus,
    $background-gradient-over: $button-toolbar-background-gradient-over,
    $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
    $border-color: transparent,
    $border-color-disabled: transparent,
    $border-color-focus: transparent,
    $border-color-over: transparent,
    $border-color-pressed: transparent,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $_arch_color,
    $color-disabled: $_arch_color ,
    $color-focus: $_arch_color ,
    $color-over: $_arch_color ,
    $color-pressed: $_arch_color ,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $_arch_color ,
    $glyph-opacity: $button-toolbar-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: $button-toolbar-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled,
    $opacity-disabled: $button-toolbar-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: inverse-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: #757575;
$_arch_background-color-disabled: #757575;
$_arch_background-color-focus: #616161;
$_arch_background-color-over: #616161;
$_arch_background-color-pressed: #424242;
  @include extjs-button-ui(
    $ui:"inverse-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: $_arch_background-color,
    $background-color-disabled: $_arch_background-color-disabled,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: $_arch_background-color ,
    $border-color-disabled: $_arch_background-color-disabled,
    $border-color-focus: $_arch_background-color-focus,
    $border-color-over: $_arch_background-color-over,
    $border-color-pressed: $_arch_background-color-pressed,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: #fff,
    $color-disabled: #fff,
    $color-focus: #fff,
    $color-over: #fff,
    $color-pressed: #fff,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: #fff,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: default-bordered-toolbar-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  
  @include extjs-button-ui(
    $ui:"default-bordered-toolbar-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: $button-toolbar-background-color,
    $background-color-disabled: $button-toolbar-background-color-disabled,
    $background-color-focus: $button-toolbar-background-color-focus,
    $background-color-over: $button-toolbar-background-color-over,
    $background-color-pressed: $button-toolbar-background-color-pressed,
    $background-gradient: $button-toolbar-background-gradient,
    $background-gradient-disabled: $button-toolbar-background-gradient-disabled,
    $background-gradient-focus: $button-toolbar-background-gradient-focus,
    $background-gradient-over: $button-toolbar-background-gradient-over,
    $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
    $border-color: $button-toolbar-border-color,
    $border-color-disabled: $button-toolbar-border-color-disabled,
    $border-color-focus: $button-toolbar-border-color-focus,
    $border-color-over: $button-toolbar-border-color-over,
    $border-color-pressed: $button-toolbar-border-color-pressed,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: $button-toolbar-color,
    $color-disabled: $button-toolbar-color-disabled,
    $color-focus: $button-toolbar-color-focus,
    $color-over: $button-toolbar-color-over,
    $color-pressed: $button-toolbar-color-pressed,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: $button-toolbar-glyph-color,
    $glyph-opacity: $button-toolbar-glyph-opacity,
    $icon-size: $button-small-icon-size,
    $include-split-noline-arrows: $button-toolbar-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled,
    $opacity-disabled: $button-toolbar-opacity-disabled,
    $padding: $button-small-padding,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: $button-small-text-padding
  );
}
/* ui mixin: profile-small for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color-focus: rgba(66,66,66,0.3);
$_arch_background-color-over: rgba(66,66,66,0.3);
$_arch_background-color-pressed: rgba(66,66,66,0.5);
  @include extjs-button-ui(
    $ui:"profile-small",
    $arrow-height: $button-small-arrow-height,
    $arrow-width: $button-small-arrow-width,
    $background-color: transparent,
    $background-color-disabled: transparent,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: transparent,
    $border-color-disabled: transparent,
    $border-color-focus: transparent,
    $border-color-over: transparent,
    $border-color-pressed: transparent,
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $color: #fff,
    $color-disabled: #fff,
    $color-focus: #fff,
    $color-over: #fff,
    $color-pressed: #fff,
    $font-family: $button-small-font-family,
    $font-family-disabled: $button-small-font-family-disabled,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-over: $button-small-font-family-over,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-small-font-weight,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $glyph-color: #fff,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: 36px,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: 9px,
    $split-height: $button-small-split-height,
    $split-width: $button-small-split-width,
    $text-padding: 0px
  );
}
/* ui mixin: profile-medium for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color-focus: rgba(66,66,66,0.3);
$_arch_background-color-over: rgba(66,66,66,0.3);
$_arch_background-color-pressed: rgba(66,66,66,0.5);
  @include extjs-button-ui(
    $ui:"profile-medium",
    $arrow-height: $button-medium-arrow-height,
    $arrow-width: $button-medium-arrow-width,
    $background-color: transparent,
    $background-color-disabled: transparent,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: transparent,
    $border-color-disabled: transparent,
    $border-color-focus: transparent,
    $border-color-over: transparent,
    $border-color-pressed: transparent,
    $border-radius: $button-medium-border-radius,
    $border-width: $button-medium-border-width,
    $color: #fff,
    $color-disabled: #fff,
    $color-focus: #fff,
    $color-over: #fff,
    $color-pressed: #fff,
    $font-family: $button-medium-font-family,
    $font-family-disabled: $button-medium-font-family-disabled,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-over: $button-medium-font-family-over,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-medium-font-weight,
    $font-weight-disabled: $button-medium-font-weight-disabled,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $glyph-color: #fff,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: 44px,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: 12px,
    $split-height: $button-medium-split-height,
    $split-width: $button-medium-split-width,
    $text-padding: 0px
  );
}
/* ui mixin: profile-large for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  $_arch_background-color-focus: rgba(66,66,66,0.3);
$_arch_background-color-over: rgba(66,66,66,0.3);
$_arch_background-color-pressed: rgba(66,66,66,0.5);
  @include extjs-button-ui(
    $ui:"profile-large",
    $arrow-height: $button-large-arrow-height,
    $arrow-width: $button-large-arrow-width,
    $background-color: transparent,
    $background-color-disabled: transparent,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-over: $_arch_background-color-over,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-gradient: none,
    $background-gradient-disabled: none,
    $background-gradient-focus: none,
    $background-gradient-over: none,
    $background-gradient-pressed: none,
    $border-color: transparent,
    $border-color-disabled: transparent,
    $border-color-focus: transparent,
    $border-color-over: transparent,
    $border-color-pressed: transparent,
    $border-radius: $button-large-border-radius,
    $border-width: $button-large-border-width,
    $color: #fff,
    $color-disabled: #fff,
    $color-focus: #fff,
    $color-over: #fff,
    $color-pressed: #fff,
    $font-family: $button-large-font-family,
    $font-family-disabled: $button-large-font-family-disabled,
    $font-family-focus: $button-large-font-family-focus,
    $font-family-over: $button-large-font-family-over,
    $font-family-pressed: $button-large-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-large-font-weight,
    $font-weight-disabled: $button-large-font-weight-disabled,
    $font-weight-focus: $button-large-font-weight-focus,
    $font-weight-over: $button-large-font-weight-over,
    $font-weight-pressed: $button-large-font-weight-pressed,
    $glyph-color: #fff,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: 52px,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: 16px,
    $split-height: $button-large-split-height,
    $split-width: $button-large-split-width,
    $text-padding: 0px
  );
}