.x-window.ux-notification-icon-information {
	background-image: url('images/icon16_info.png');
}

.x-window.ux-notification-icon-error {
	background-image: url('images/icon16_error.png');
}

.x-window.ux-notification-light .x-window-header {
	background-color: transparent;
	background-image: none;
}

.x-window.ux-notification-light {
	background-image: url('images/fade-blue.png');
}

.x-window.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 20px 5px;
	background-color: transparent;
	background-image: none;
	border: 0px solid white;
}