<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://publish.lab.sipas.id/timah-pangkalpinang/master/v5.23-master/webapp/src/mobile/teo.ipa</string>
		<key>displayImageURL</key>
		<string>https://publish.lab.sipas.id/timah-pangkalpinang/master/v5.23-master/webapp/src/mobile/image.57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://publish.lab.sipas.id/timah-pangkalpinang/master/v5.23-master/webapp/src/mobile/image.512x512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2TY2R3QYJ3</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
