@import url("reset.css");

.border                 { border: 1px solid black; }
.border-bottom          { border-bottom: 1px solid black; }
.border-top             { border-top: 1px solid black; }
.border-left            { border-left: 1px solid black; }
.border-right           { border-right: 1px solid black; }

.border-double          { border: double; }
.border-bottom-double   { border-bottom: double; }
.border-top-double      { border-top: double; }
.border-left-double     { border-left: double; }
.border-right-double    { border-right: double; }

.border-dot             { border: 1px dotted; }
.border-bottom-dot      { border-bottom: 1px dotted; }
.border-top-dot         { border-top: 1px dotted; }
.border-left-dot        { border-left: 1px dotted; }
.border-right-dot       { border-right: 1px dotted; }

.border-dash            { border: 1px dashed; }
.border-bottom-dash     { border-bottom: 1px dashed; }
.border-top-dash        { border-top: 1px dashed; }
.border-left-dash       { border-left: 1px dashed; }
.border-right-dash      { border-right: 1px dashed; }

.border-bold            { border: 2px solid black; }
.border-bottom-bold     { border-bottom: 2px solid black; }
.border-top-bold        { border-top: 2px solid black; }
.border-left-bold       { border-left: 2px solid black; }
.border-right-bold      { border-right: 2px solid black; }

.no-border              { border: 0px; }
.no-border-bottom       { border-bottom: 0px; }
.no-border-top          { border-top: 0px; }
.no-border-left         { border-left: 0px; }
.no-border-right        { border-right: 0px; }

.border-all   
{ border: 1px solid black; }
.border-all td,.border-all > tr > td, .border-all th
{ border: 1px solid black; }

.text-center        { text-align: center; text-align: -webkit-center; }
.text-left          { text-align: left; text-align: -webkit-left; }
.text-right         { text-align: right; text-align: -webkit-right; }
.text-auto          { text-align: auto; text-align: -webkit-auto; }
.text-justify       { text-align: justify; }
.text-top           { vertical-align: top; }
.text-bottom        { vertical-align: bottom; }
.text-middle        { vertical-align: middle; }

.font-8             { font-size: 8px; }
.font-9             { font-size: 9px; }
.font-10            { font-size: 10px; }
.font-11            { font-size: 11px; }
.font-12            { font-size: 12px; }
.font-13            { font-size: 13px; }
.font-14            { font-size: 14px; }
.font-15            { font-size: 15px; }
.font-16            { font-size: 16px; }
.font-17            { font-size: 17px; }
.font-18            { font-size: 18px; }
.font-19            { font-size: 19px; }
.font-20            { font-size: 20px; }
.font-21            { font-size: 21px; }
.font-22            { font-size: 22px; }
.font-23            { font-size: 23px; }
.font-24            { font-size: 24px; }
.font-25            { font-size: 25px; }
.font-26            { font-size: 26px; }
.font-27            { font-size: 27px; }
.font-28            { font-size: 28px; }
.font-29            { font-size: 29px; }
.font-30            { font-size: 30px; }
.font-31            { font-size: 31px; }
.font-32            { font-size: 32px; }
.font-33            { font-size: 33px; }
.font-34            { font-size: 34px; }
.font-35            { font-size: 35px; }
.font-36            { font-size: 36px; }
.font-37            { font-size: 37px; }
.font-38            { font-size: 38px; }
.font-39            { font-size: 39px; }
.font-40            { font-size: 40px; }
.font-41            { font-size: 41px; }
.font-42            { font-size: 42px; }
.font-normal        { font-style: normal; }
.font-bold          { font-weight: bold; font-weight: bolder; }
.font-italic        { font-style: italic; }
.font-normal        { font-style: normal; }

.fill               { width: 100%; height: 100%}
.fill-width         { width: 100%; }
.fill-height        { height: 100%; }

.center             { margin: 0px auto; align-self: center; }

.label-separator    { width: 5px; }

/* custom */
#maintable{
    border: 2px solid black; 
    width: 610px;
    margin: 0px auto;
}