$button-default-background-gradient: null;
$button-default-background-gradient-disabled: null;
$button-default-background-gradient-focus: null;
$button-default-background-gradient-over: null;
$button-default-background-gradient-pressed: null;
$button-default-base-color: #fff;
$button-default-base-color-disabled: $button-default-base-color;
$button-default-border-color: $button-default-base-color;
$button-default-border-color-disabled: $button-default-base-color-disabled;
$button-default-base-color-over: mix(#000, $button-default-base-color, 8%);
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-border-color-focus: $button-default-base-color-focus;
$button-default-border-color-over: $button-default-base-color-over;
$button-default-base-color-pressed: mix(#000, $button-default-base-color, 25%);
$button-default-border-color-pressed: $button-default-base-color-pressed;
$color: #212121;
$button-default-color: $color;
$button-large-border-radius: 2px;
$font-size: 13px;
$button-large-font-size: $font-size + 3;
$button-large-font-weight: 500;
$button-large-icon-size: 36px;
$button-large-padding: 11px;
$button-large-text-padding: 6px 0px;
$button-medium-border-radius: 2px;
$button-medium-font-size: $font-size + 1;
$button-medium-font-weight: 500;
$button-medium-icon-size: 28px;
$button-medium-padding: 9px;
$button-medium-text-padding: 4px 0px;
$button-small-border-radius: 2px;
$button-small-font-size: $font-size - 1;
$button-small-font-weight: 500;
$button-small-icon-size: 20px;
$button-small-padding: 5px;
$button-small-text-padding: 2px 0px;
$button-toolbar-background-color: rgba(0,0,0,0);
$button-toolbar-background-gradient: "null";
$button-toolbar-background-gradient-disabled: "null";
$button-toolbar-background-gradient-focus: "null";
$button-toolbar-background-gradient-over: "null";
$button-toolbar-background-gradient-pressed: "null";
$button-toolbar-border-color: $button-toolbar-background-color;
$button-toolbar-border-color-disabled: $button-toolbar-background-color;
$button-toolbar-border-color-focus: $button-toolbar-background-color ;
$button-toolbar-border-color-over: $button-toolbar-background-color ;
$button-toolbar-border-color-pressed: $button-toolbar-background-color ;
$button-toolbar-color: $color;
$base-color: #1976D2;
$base-dark-color: #0D47A1;
$base-gradient: "none";
$base-highlight-color: #42A5F5;
$base-light-color: #90CAF9;
$body-background-color: #FFFFFF;
$confirmation-color: #689F38;
$confirmation-light-color: #8BC34A;
$error-color: #E64A19;
$error-light-color: #FF5722;
$font-family: 'Roboto', helvetica, arial, verdana, sans-serif;
$neutral-color: #E0E0E0;
$neutral-dark-color: #BDBDBD;
$neutral-light-color: #F5F5F5;
$btn-group-framed-border-radius: 1px;
$form-field-border-width: 0px;
$form-field-focus-border-color: $base-color;
$form-field-height: 28px;
$form-field-padding: 1px 0px 1px;
$form-checkbox-size: 20px;
$fieldset-border-color: #E0E0E0;
$fieldset-border-width: 0px;
$fieldset-collapse-tool-margin: 1px 4px 0 0;
$fieldset-collapse-tool-size: 20px;
$fieldset-header-color: #757575;
$fieldset-header-font-weight: bold;
$fieldset-header-font-size: $font-size;
$fieldset-header-line-height: 16px;
$fieldset-header-font-family: $font-family;
$fieldset-header-font: $fieldset-header-font-weight #{$fieldset-header-font-size}/#{$fieldset-header-line-height} $fieldset-header-font-family;
$fieldset-header-padding: 0 8px 0 0;
$fieldset-margin: 0 0 16px;
$fieldset-padding: 10px 0;
$form-error-icon-side-margin: 0 6px;
$form-item-margin-bottom: 6px;
$form-label-font-color: #616161;
$form-label-font-size: $font-size - 1;
$form-label-font-weight: 400;
$form-toolbar-label-font-size: $font-size - 1;
$grid-column-header-border-width: 0px;
$grid-column-header-color: rgba($color, .52);
$grid-column-header-font-size: $font-size - 1;
$grid-column-header-font-weight: 500;
$grid-column-header-line-height: 16px;
$grid-grouped-header-background-color: #EEEEEE;
$grid-grouped-header-border-color: #E0E0E0;
$grid-grouped-header-border-width: 0px 0 1px 0;
$grid-grouped-header-padding: 12px 4px 12px 12px;
$grid-grouped-title-color: #616161;
$grid-grouped-title-font-size: $font-size + 1;
$grid-grouped-title-font-weight: 500;
$grid-grouped-title-line-height: 16px;
$grid-header-background-color: #ffffff;
$grid-header-border-color: #E0E0E0;
$grid-header-open-background-color: $grid-header-background-color;
$grid-header-over-background-color: $grid-header-background-color;
$grid-header-padding: 8px 4px;
$accordion-header-background-color: $neutral-light-color;
$panel-header-color: $color;
$accordion-header-color: $panel-header-color;
$panel-header-font-weight: 500;
$accordion-header-font-weight: $panel-header-font-weight;
$accordion-header-over-background-color: $neutral-color;
$accordion-header-tool-size: 20px;
$border-layout-ct-background-color: transparent;
$loadmask-background-color: #000;
$loadmask-opacity: 0.1;
$menu-border-width: 0px;
$grid-row-cell-over-background-color: #EEEEEE;
$menu-item-active-background-color: $grid-row-cell-over-background-color;
$menu-item-active-border-color: $grid-row-cell-over-background-color;
$menu-item-height: 36px;
$menu-item-icon-horizontal-spacing: 16px;
$menu-item-icon-size: 20px;
$menu-item-separator-margin: 8px 0;
$menu-item-text-horizontal-spacing: 0px;
$menu-item-trailing-padding: 16px;
$menu-padding: 8px 0px;
$menu-scroller-height: 12px;
$menu-separator-background-color: transparent;
$menu-separator-size: 0px;
$menu-text-color: $color;
$panel-body-border-color: $neutral-color;
$panel-body-border-width: 0px;
$panel-body-color: $color;
$panel-body-font-weight: 400;
$panel-frame-body-border-width: 0px;
$panel-frame-border-radius: 2px;
$panel-frame-border-width: 0px;
$panel-frame-header-padding: 8px 16px;
$panel-frame-padding: 0px;
$panel-header-background-color: #fff;
$panel-header-border-color: #fff;
$panel-header-font-family: $font-family;
$panel-header-font-size: $font-size + 3;
$panel-header-icon-height: 32px;
$panel-header-line-height: 32px;
$panel-header-padding: 4px 16px;
$panel-header-text-padding: 0px;
$panel-light-body-border-color: $neutral-color;
$panel-light-frame-border-color: $neutral-color;
$panel-light-header-background-color: $neutral-color;
$panel-light-header-color: $color;
$panel-light-header-font-size: $panel-header-font-size;
$panel-light-header-font-weight: $panel-header-font-weight;
$panel-tool-spacing: 12px;
$grid-body-border-color: $neutral-color;
$grid-cell-inner-padding: 8px 4px;
$grid-cell-special-border-width: 0px;
$grid-empty-background-color: #eeeeee;
$grid-empty-color: #616161;
$grid-row-cell-font-size: $font-size;
$grid-empty-font-size: $grid-row-cell-font-size * 2;
$grid-empty-font-weight: 200;
$grid-empty-padding: 26px 12px;
$grid-row-cell-background-color: #fff;
$grid-row-cell-alt-background-color: $grid-row-cell-background-color;
$grid-row-cell-border-color: #eeeeee;
$grid-row-cell-color: rgba($color, .87);
$grid-row-cell-line-height: 24px;
$grid-row-cell-selected-background-color: $neutral-color;
$tool-size: 20px;
$datepicker-border-style: none;
$datepicker-border-width: 0px;
$datepicker-column-header-background-color: transparent;
$datepicker-column-header-border-style: none;
$datepicker-footer-background-color: transparent;
$datepicker-footer-border-style: none;
$datepicker-footer-text-align: right;
$datepicker-header-background-color: transparent;
$datepicker-header-padding: 12px 18px 6px;
$datepicker-item-border-style: none;
$datepicker-item-border-width: 0px;
$datepicker-item-font-size: $font-size - 1;
$datepicker-item-height: 40px;
$datepicker-item-selected-background-color: $base-color;
$datepicker-item-selected-border-style: none;
$datepicker-item-selected-font-weight: 500;
$datepicker-item-today-border-style: none;
$datepicker-item-width: 40px;
$datepicker-monthpicker-item-height: 40px;
$datepicker-monthpicker-item-margin: 3px 3px 3px 3px !important;
$datepicker-monthpicker-item-selected-background-color: $base-color;
$datepicker-monthpicker-prev-background-position: 0 bottom;
$progress-height: 4px;
$tabbar-base-color: $neutral-light-color;
$tabbar-strip-background-color: rgba(0,0,0,0);
$tabbar-strip-border-color: $neutral-color;
$tabbar-strip-border-width: 0px;
$tabbar-strip-height: 0px;
$tabbar-strip-plain-border-width: 1px 0px 0px 0px;
$tab-base-color: rgba(0,0,0,0);
$tab-base-color-active: rgba(0,0,0,0);
$tab-base-color-disabled: rgba(0,0,0,0);
$tab-base-color-over: rgba(0,0,0,0);
$tab-border-color-active: #1976D2;
$tab-border-radius: 0px;
$tab-color: #757575;
$tab-color-active: #1976D2;
$tab-font-weight: normal;
$tab-inner-border-color: $base-highlight-color;
$tab-inner-border-width: 0 0 3px 0;
$tab-line-height: 26px;
$tab-padding: 8px 16px;
$toolbar-border-color: $neutral-color;
$toolbar-footer-background-color: transparent;
$toolbar-footer-horizontal-spacing: 4px;
$toolbar-footer-vertical-spacing: 3px;
$toolbar-horizontal-spacing: 4px;
$toolbar-spacer-width: 8px;
$toolbar-text-padding: 3px 4px 0 16px;
$boundlist-border-color: rgba(0, 0, 0, .2);
$boundlist-item-border-width: 0px;
$boundlist-item-height: 32px;
$boundlist-item-over-background-color: $grid-row-cell-over-background-color;
$boundlist-item-over-border-color: $grid-row-cell-over-background-color;
$boundlist-item-padding: 0 8px;
$boundlist-item-selected-background-color: $grid-row-cell-selected-background-color;
$boundlist-item-selected-border-color: $grid-row-cell-selected-background-color;
$window-base-color: #fff;
$window-body-border-color: $neutral-color;
$window-body-border-width: 0px;
$window-body-color: $color;