{
    "type": "Ext.button.Button",
    "reference": {
        "name": "items",
        "type": "array"
    },
    "codeClass": null,
    "userConfig": {
        "designer|userAlias": "sipas_com_button_config",
        "designer|userClassName": "Sipas.com.button.Config",
        "iconCls": null,
        "itemId": null,
        "text": "Pengaturan"
    },
    "designerId": "e7843e6d-fc95-439d-9dcb-e4917ebc8bbf"
}