{
    "type": "Ext.form.Panel",
    "reference": {
        "name": "items",
        "type": "array"
    },
    "codeClass": null,
    "userConfig": {
        "bodyPadding": null,
        "bodyStyle": null,
        "border": null,
        "cls": "sipas_session_login_container",
        "container|align": "stretch",
        "designer|uiInterfaceName": "plain",
        "designer|userAlias": "sipas_session_login_container",
        "designer|userClassName": "Sipas.session.login.Container",
        "header": false,
        "height": null,
        "layout": "hbox",
        "minHeight": 400,
        "minWidth": null,
        "title": "Login sistem",
        "titleAlign": "center",
        "ui": "plain",
        "width": 640
    },
    "name": "MyForm17",
    "configAlternates": {
        "bodyStyle": "string"
    },
    "designerId": "c6cdf01d-cb19-4151-aaf3-257e9a6d5f88",
    "cn": [
        {
            "type": "Ext.container.Container",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "cls": "container_left",
                "container|align": "center",
                "container|pack": "center",
                "layout": "vbox",
                "layout|flex": 1
            },
            "name": "MyContainer",
            "designerId": "20ed4df1-939f-47d0-8968-4b256f93fe43",
            "cn": [
                {
                    "type": "Ext.form.field.Display",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "cls": null,
                        "defaultAlign": null,
                        "fieldLabel": null,
                        "hidden": null,
                        "layout|flex": null,
                        "margin": null,
                        "style": "text-align: center",
                        "value": "<span class=\"bigger-3 white\"><b>TEO<span>"
                    },
                    "name": "MyDisplayField1",
                    "configAlternates": {
                        "style": "string"
                    },
                    "designerId": "924495a9-f52d-4905-80c7-0265a71c848c"
                },
                {
                    "type": "Ext.form.field.Display",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "cls": null,
                        "defaultAlign": null,
                        "fieldLabel": null,
                        "hidden": null,
                        "layout|flex": null,
                        "margin": "0 0 8 0",
                        "style": "text-align: center",
                        "value": "<span class=\"bigger-1-5 white\">Timah Electronic Office</span>"
                    },
                    "name": "MyDisplayField2",
                    "configAlternates": {
                        "style": "string"
                    },
                    "designerId": "2b638bd0-89c0-4793-ad82-619be2c72668"
                },
                {
                    "type": "Ext.container.Container",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "cls": "containerLogo",
                        "height": 200,
                        "itemId": "containerLogo",
                        "layout": null,
                        "layout|flex": null,
                        "margin": null,
                        "width": 200
                    },
                    "name": "MyContainer6",
                    "designerId": "6f8a5991-20b4-4eca-9ca4-9f8232f813c7"
                },
                {
                    "type": "linkedinstance",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "action": "help",
                        "bootstrap": "Sipas.sistem.about.Popup",
                        "cls": "x-btn-inverse x-btn-notransformtext x-btn-normal  x-btn-compact",
                        "designer|uiInterfaceName": "default-toolbar",
                        "itemId": "description",
                        "layout|flex": null,
                        "layout|margins": "4",
                        "popupLauncher": true,
                        "text": "Info",
                        "ui": "default-toolbar",
                        "valueTemplate": "Version {productVersion} {productVariant}"
                    },
                    "name": "sipas.com.button.valuable",
                    "designerId": "ab3f1290-ae12-4590-ab79-1ba8c5f18c71",
                    "customConfigs": [
                        {
                            "group": "(Custom Properties)",
                            "name": "bootstrap",
                            "type": "string"
                        },
                        {
                            "group": "(Custom Properties)",
                            "name": "popupLauncher",
                            "type": "boolean"
                        },
                        {
                            "group": "(Custom Properties)",
                            "name": "action",
                            "type": "string"
                        }
                    ],
                    "masterInstanceId": "4a394dbd-0dc5-4438-a50c-00b17ceb5c83"
                }
            ]
        },
        {
            "type": "Ext.container.Container",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "cls": "container_right",
                "container|align": "center",
                "container|pack": "center",
                "layout": "vbox",
                "layout|flex": 1
            },
            "name": "MyContainer1",
            "designerId": "747b7cfc-7ca5-40e5-b55a-7453b02fa7b1",
            "cn": [
                {
                    "type": "Ext.container.Container",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "height": 200,
                        "layout": "anchor",
                        "layout|flex": null,
                        "layout|margins": null,
                        "width": 240
                    },
                    "name": "MyContainer23",
                    "designerId": "0ced5513-61f5-44db-95a8-ae4bf20e2879",
                    "cn": [
                        {
                            "type": "Ext.form.field.Display",
                            "reference": {
                                "name": "items",
                                "type": "array"
                            },
                            "codeClass": null,
                            "userConfig": {
                                "cls": null,
                                "defaultAlign": null,
                                "fieldLabel": null,
                                "hidden": null,
                                "layout|anchor": "100%",
                                "margin": "0 0 32",
                                "style": "text-align: center",
                                "value": "<span class=\"bigger-1-5 blue-500\">Silahkan Masuk</span>"
                            },
                            "name": "MyDisplayField",
                            "configAlternates": {
                                "style": "string"
                            },
                            "designerId": "26497466-5c9c-478a-86d7-fffaf11ba573"
                        },
                        {
                            "type": "Ext.form.field.Text",
                            "reference": {
                                "name": "items",
                                "type": "array"
                            },
                            "codeClass": null,
                            "userConfig": {
                                "allowBlank": false,
                                "cls": null,
                                "emptyText": "akun",
                                "enableKeyEvents": true,
                                "fieldBodyCls": null,
                                "fieldCls": "x-form-field textfieldUsername field",
                                "fieldLabel": null,
                                "fieldStyle": null,
                                "height": null,
                                "id": null,
                                "itemId": "textfieldUsername",
                                "labelClsExtra": "textfieldUsername label",
                                "labelStyle": null,
                                "labelWidth": 120,
                                "layout|anchor": "100%",
                                "name": "username",
                                "padding": null,
                                "style": null,
                                "width": null
                            },
                            "name": "MyTextField108",
                            "configAlternates": {
                                "style": "string"
                            },
                            "designerId": "8d1c36d2-a626-4d00-8a9b-14bf5facf28c",
                            "cn": [
                                {
                                    "type": "basiceventbinding",
                                    "reference": {
                                        "name": "listeners",
                                        "type": "array"
                                    },
                                    "codeClass": null,
                                    "userConfig": {
                                        "fn": "onTextfieldUsernameKeyup",
                                        "implHandler": [
                                            "if(e.getCharCode() == Ext.EventObject.ENTER){\r",
                                            "    textfield.nextSibling().focus(true);\r",
                                            "}"
                                        ],
                                        "name": "keyup",
                                        "scope": "me"
                                    },
                                    "name": "onTextfieldUsernameKeyup",
                                    "designerId": "57efb15d-a540-4e49-bdd7-358aef5c692d"
                                }
                            ]
                        },
                        {
                            "type": "Ext.form.field.Text",
                            "reference": {
                                "name": "items",
                                "type": "array"
                            },
                            "codeClass": null,
                            "userConfig": {
                                "allowBlank": false,
                                "cls": null,
                                "emptyText": "sandi",
                                "enableKeyEvents": true,
                                "fieldCls": "x-form-field textfieldPassword field",
                                "fieldLabel": null,
                                "fieldStyle": null,
                                "height": null,
                                "id": null,
                                "inputType": "password",
                                "itemId": "textfieldPassword",
                                "labelClsExtra": "textfieldPassword label",
                                "labelStyle": null,
                                "labelWidth": 120,
                                "layout|anchor": "100%",
                                "name": "password"
                            },
                            "name": "MyTextField109",
                            "designerId": "5f576688-65cc-494b-b824-52b9f8abde87"
                        },
                        {
                            "type": "Ext.container.Container",
                            "reference": {
                                "name": "items",
                                "type": "array"
                            },
                            "codeClass": null,
                            "userConfig": {
                                "container|align": "stretch",
                                "height": 20,
                                "hidden": true,
                                "id": null,
                                "itemId": "containerCaptcha",
                                "layout": "hbox"
                            },
                            "name": "MyContainer17",
                            "designerId": "3682d198-c7b9-407a-aea7-766bd497013f",
                            "cn": [
                                {
                                    "type": "Ext.form.field.Text",
                                    "reference": {
                                        "name": "items",
                                        "type": "array"
                                    },
                                    "codeClass": null,
                                    "userConfig": {
                                        "fieldLabel": "Kode kemanan",
                                        "fieldStyle": "height: 30px; font-weight: bolder; font-size: 18px; border-radius: 3px; color: rgb(86, 86, 88);",
                                        "hidden": true,
                                        "id": null,
                                        "inputType": "password",
                                        "itemId": "txtSecurity",
                                        "labelAlign": "top",
                                        "labelStyle": "font-weight:bold; color: rgb(86, 86, 88);",
                                        "layout|flex": 1,
                                        "name": "txtpass",
                                        "submitValue": false,
                                        "width": 100
                                    },
                                    "name": "MyTextField110",
                                    "designerId": "79d1072b-09e3-43e7-9087-e4fd4266c30b"
                                },
                                {
                                    "type": "Ext.container.Container",
                                    "reference": {
                                        "name": "items",
                                        "type": "array"
                                    },
                                    "codeClass": null,
                                    "userConfig": {
                                        "anchorSize": null,
                                        "hidden": true,
                                        "id": null,
                                        "itemId": "fieldCaptcha",
                                        "width": 200
                                    },
                                    "name": "MyContainer18",
                                    "designerId": "248939d6-bf8c-4ef5-b6c4-6a8f9ea70cff"
                                }
                            ]
                        },
                        {
                            "type": "Ext.toolbar.Toolbar",
                            "reference": {
                                "name": "items",
                                "type": "array"
                            },
                            "codeClass": null,
                            "userConfig": {
                                "container|align": "stretch",
                                "container|pack": "center",
                                "container|padding": null,
                                "designer|uiInterfaceName": "footer",
                                "margin": "32 0 0 0",
                                "padding": 0,
                                "ui": "footer"
                            },
                            "name": "MyToolbar1",
                            "designerId": "e33e5463-fd8c-4851-b73b-a8939da1edf7",
                            "cn": [
                                {
                                    "type": "Ext.button.Button",
                                    "reference": {
                                        "name": "items",
                                        "type": "array"
                                    },
                                    "codeClass": null,
                                    "userConfig": {
                                        "action": "auth",
                                        "cls": "x-btn-primary x-btn-fill",
                                        "height": 35,
                                        "icon": null,
                                        "iconAlign": null,
                                        "iconCls": null,
                                        "id": null,
                                        "itemId": "buttonLogin",
                                        "languageCode": "btn_login",
                                        "languageMode": "text",
                                        "languageable": true,
                                        "layout|flex": 1,
                                        "layout|margins": "0",
                                        "margin": 0,
                                        "minWidth": 35,
                                        "text": "MASUK",
                                        "textAlign": null,
                                        "ui": null,
                                        "width": null
                                    },
                                    "name": "MyButton22",
                                    "configAlternates": {
                                        "languageable": "boolean"
                                    },
                                    "designerId": "15a2ebfd-40a4-4a73-811f-dbec6bca5749",
                                    "customConfigs": [
                                        {
                                            "group": "(Custom Properties)",
                                            "name": "languageable",
                                            "type": "string"
                                        },
                                        {
                                            "group": "(Custom Properties)",
                                            "name": "languageCode",
                                            "type": "string"
                                        },
                                        {
                                            "group": "(Custom Properties)",
                                            "name": "languageMode",
                                            "type": "string"
                                        },
                                        {
                                            "group": "(Custom Properties)",
                                            "name": "action",
                                            "type": "string"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}